<!-- app/templates/account_list.html -->

{% extends "base.html" %}

{% block title %}Account List{% endblock %}

{% block content %}
<h1>Accounts</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.type }}</td>
        <td>
            <a href="{{ url_for('accounts.edit_account', account_id=account.id) }}">Edit</a> |
            <a href="{{ url_for('accounts.delete_account', account_id=account.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('accounts.new_account') }}">Create New Account</a>
{% endblock %}
